In [125]:
import pandas as pd
import numpy as np
import nltk

import matplotlib.pyplot as plt
import pyodbc

In [126]:
df6 = pd.read_excel('C:/Users/ssubedi/ownCloud/my_analysis/Imported_from_desktop/OpenAI/initial_data/initial_raw_data.xlsx')
df6.head()

,title,brand,description,Grade,IDQ Score,result,style,keywords,subcategory,category,count_image,count_feature
0,"Godefroy Tint Kit for Spot Coloring, Dark Brown",Godefroy,<p>Pre-measured color can help deposit color t...,A,100.0,Pass,GTK203,gtk203 hair mascaras root touch and beauty god...,Hair Mascaras & Root Touch Up,Health and Beauty,1,0
1,"Garnier Fructis Pure Clean Shampoo, Paraben-Fr...",Garnier,<p>Replenish and revitalize your hair with Gar...,A,100.0,Pass,0889728,shampoo 0889728 care clean fructis pure fortif...,Shampoo,Health and Beauty,2,0
2,"Godefroy Professional Hair Color Tint Kit, Lig...",Godefroy,<p>Pre-measured color can help deposit color t...,A,100.0,Pass,GDFRY-LB-1PK-TINT-KIT,kit tint 1pk gdfry godefroy hair mascaras root...,Hair Mascaras & Root Touch Up,Health and Beauty,2,5
3,Palmer's Coconut Oil Formula with Vitamin E Bo...,Palmer's,<p>Soften and soothe your skin with Palmer's C...,A,100.0,Pass,BB3265E038,bb3265e038 body coconut lotion oil beauty palm...,Lotion,Health and Beauty,2,0
4,Invicta Men's Pro Diver 40mm Steel and Gold To...,Invicta,<p>Explore and conquer the depths with the Pro...,A,100.0,Pass,8928OB,8928ob watch diver invicta men pro automatic g...,Diving Watch,Watches,3,5

In [127]:
df6.shape

(21348, 12)

In [128]:
df7 = df6.loc[df6['count_image'] != 0]

In [129]:
df7.head()

,title,brand,description,Grade,IDQ Score,result,style,keywords,subcategory,category,count_image,count_feature
0,"Godefroy Tint Kit for Spot Coloring, Dark Brown",Godefroy,<p>Pre-measured color can help deposit color t...,A,100.0,Pass,GTK203,gtk203 hair mascaras root touch and beauty god...,Hair Mascaras & Root Touch Up,Health and Beauty,1,0
1,"Garnier Fructis Pure Clean Shampoo, Paraben-Fr...",Garnier,<p>Replenish and revitalize your hair with Gar...,A,100.0,Pass,0889728,shampoo 0889728 care clean fructis pure fortif...,Shampoo,Health and Beauty,2,0
2,"Godefroy Professional Hair Color Tint Kit, Lig...",Godefroy,<p>Pre-measured color can help deposit color t...,A,100.0,Pass,GDFRY-LB-1PK-TINT-KIT,kit tint 1pk gdfry godefroy hair mascaras root...,Hair Mascaras & Root Touch Up,Health and Beauty,2,5
3,Palmer's Coconut Oil Formula with Vitamin E Bo...,Palmer's,<p>Soften and soothe your skin with Palmer's C...,A,100.0,Pass,BB3265E038,bb3265e038 body coconut lotion oil beauty palm...,Lotion,Health and Beauty,2,0
4,Invicta Men's Pro Diver 40mm Steel and Gold To...,Invicta,<p>Explore and conquer the depths with the Pro...,A,100.0,Pass,8928OB,8928ob watch diver invicta men pro automatic g...,Diving Watch,Watches,3,5

In [130]:
df7.shape

(20446, 12)

In [131]:
df8 = df7.loc[df7['count_image'] != 1]

In [132]:
df8.shape

(12875, 12)

In [133]:
df8['IDQ Score'].value_counts()

100.0    3194
80.0     2716
0.0      1812
95.0     1482
90.0     1338
70.0      863
60.0      786
75.0      354
85.0      132
82.5       48
67.5       22
77.5       21
65.0       20
92.5       20
87.5       16
50.0       14
62.5       11
57.5        8
55.0        7
40.0        3
72.5        3
35.0        2
45.0        1
12.5        1
25.0        1
Name: IDQ Score, dtype: int64

In [134]:
df8['result'].value_counts()

Pass    10187
Fail     2688
Name: result, dtype: int64

In [135]:
df8.isnull().sum()

title            0
brand            0
description      5
Grade            0
IDQ Score        0
result           0
style            0
keywords         0
subcategory      0
category         0
count_image      0
count_feature    0
dtype: int64

In [136]:
df8 = df8.dropna()

In [137]:
df8.isnull().sum()

title            0
brand            0
description      0
Grade            0
IDQ Score        0
result           0
style            0
keywords         0
subcategory      0
category         0
count_image      0
count_feature    0
dtype: int64

In [138]:
df8.shape

(12870, 12)

In [139]:
Pass = df8[df8['result'] == 'Pass']
Fail = df8[df8['result'] == 'Fail']

In [140]:
Pass.shape, Fail.shape

((10184, 12), (2686, 12))

In [141]:
Pass = Pass.sample(Fail.shape[0])

In [142]:
Pass.shape, Fail.shape

((2686, 12), (2686, 12))

In [143]:
data = Pass.append(Fail, ignore_index = True)

In [144]:
data['result'].value_counts()

Fail    2686
Pass    2686
Name: result, dtype: int64

In [145]:
data.isnull().sum()

title            0
brand            0
description      0
Grade            0
IDQ Score        0
result           0
style            0
keywords         0
subcategory      0
category         0
count_image      0
count_feature    0
dtype: int64

In [146]:

from nltk.stem import SnowballStemmer
from nltk.corpus import stopwords
#import string

In [147]:
stopwords_list = stopwords.words('english')
stopwords_list

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [148]:
punc_string = string.punctuation
stemmer = SnowballStemmer('english')

In [192]:
def preprocess(text):
    # Remove stopwords
    words = [i for i in str(text).split() if i.lower() not in stopwords_list]
    text_1 = ' '.join(words)
    # Remove puctuation and replace with a space.
    #text_2 = text_1.translate(str.maketrans(punc_string, len(punc_string)*' '))
    #words_1 = text_2.split()
    # Perform word stemming 
    #words_2 = [stemmer.stem(word) for word in words_1]
    #text_3 = ' '.join(words_2)
    return text_1

In [193]:
data['description'] = data['description'].apply(preprocess)

In [194]:
data['description'].head(20)

0     p expertly crafted Pacific Beach watch perfect...
1     p looking add little bit class wardrobe Cotton...
2     p Refresh Car Odor Eliminators clip right onto...
3     p Dress little one success Slub Pocket Tee Jan...
4     5 piece set paint markers perfect lettering ad...
5     p summer little one stepping sun style Vintage...
6     p looking cute onesie fit day style Striped On...
7     p time energize shoe closet nothing could serv...
8     p Combine expert craftsmanship technological n...
9     p chilly sandals mean sacrifice sense fashion ...
10    p looking cute onesie fit day style Aerin Stri...
11    p kiddo needs new pair pants look feel great w...
12    p Whether going important business meeting dat...
13    p Keep feet dry gardening outdoor chores takin...
14    p Whether walking boardwalk 5th avenue everyon...
15    p Ridge Low Wp best shoe rough uneven wooden t...
16    p John Varvatos brings stylish sophisticated p...
17    p Whether going important business meeting dat...
18    p Hi Tech meets high impact durable performanc...
19    p Looking dress wardrobe 1959 Collection Wool ...
Name: description, dtype: object

In [152]:
data['IDQ Score'].astype(str)

0       100.0
1        80.0
2        82.5
3        80.0
4        85.0
        ...
5367      0.0
5368     67.5
5369     67.5
5370      0.0
5371      0.0
Name: IDQ Score, Length: 5372, dtype: object

In [29]:
# Test Data.

# This is where CUSTOMER upload their data.
# setting up the connection 

cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                      "Server=sql1;"
                      "Database=MWPRODUCTS;"
                      "Trusted_Connection=yes;")
cursor = cnxn.cursor()
                      
                      
# reading the sql table to notebook.                      
query1 = '''
select productid, title, brand, description, style, keywords, subCategory, catName, 
(select count(*) 
from (values (T.image1),(T.image2),(T.image3),(T.image4),(T.image5),(T.image6)) as v(col)
where v.col is not null
) as count_image
from mwproducts.dbo.df_products_all as T where productId in
(SELECT DISTINCT qty.productid
FROM (
	select productid, sum(quantity) quantity
	from mwproducts.dbo.wh_zone_actual_inventory
	where fc_client_id = 1
	group by productid
) as qty
WHERE qty.quantity > 10)

'''

test_data = pd.read_sql(query1, cnxn)
print(test_data.head(20))

     productid                                              title  \
0   1681912532  Citizen Men's Eco-Drive AW1360-12H Brown Leath...
1   1681908939  Michael Kors Men's Bradshaw MK5550 Black Stain...
2   1681905141  Daniel Wellington Men's Warwick 0205DW Silver ...
3   1681907339  Daniel Wellington Men's Warwick 0105DW Gold Ny...
4   1681906852  Movado Men's Museum 0606502 Grey Leather Swiss...
5   1681895148  Fossil Men's Nate JR1401 Black Stainless-Steel...
6   1681900687  Daniel Wellington Men's Bristol 0209DW Silver ...
7   1681900689  Daniel Wellington Men's York 0211DW Silver Lea...
8   1681898382  Daniel Wellington Men's Classic Sheffield 0206...
9   1681898384  Daniel Wellington Men's Classic St. Andrews 01...
10  1681956160  Daniel Wellington Men's Dapper St.Mawes 1100DW...
11  1681956161  Daniel Wellington Men's Dapper Sheffield 1101D...
12  1681956162  Daniel Wellington Men's Dapper St. Mawes 1120D...
13  1681956163  Daniel Wellington Men's Dapper Sheffield 1121D...
14  1681957566  Daniel Wellington Men's Dapper Bristol 1103DW ...
15  1681994930  Timex Men's Ironman Run X50 TW5K88000 Black Po...
16  1682000839  Emporio Armani Men's Zeta AR1999 Silver Leathe...
17  1681957748  Marc By Jacobs Women's Courtney MJ3456 Silver ...
18  1681944871  Invicta Women's Angel 19219 Gold Stainless-Ste...
19  1681907338  Daniel Wellington Women's Classy Bristol 0903D...

                  brand                                        description  \
0               Citizen  <p>Classic styling and a full range of feature...
1          Michael Kors  <p>This practical yet stylish watch by Michael...
2     Daniel Wellington  <p>Classic styling and a full range of feature...
3     Daniel Wellington  <p>Show off your laid-back personality with th...
4                Movado  Show off your laid-back personality with this ...
5                Fossil  <p>This Nate watch by Fossil is a new addition...
6     Daniel Wellington  <p>Daniel Wellington timepieces are definitely...
7     Daniel Wellington  <p>Characteristic of Daniel Wellingtons signat...
8     Daniel Wellington  <p>Classic styling and a full range of feature...
9     Daniel Wellington  <p>Classic styling and a full range of feature...
10    Daniel Wellington  <p>This Daniel Wellington Dapper St.Mawes watc...
11    Daniel Wellington  <p>If youre a man with even the slightest fash...
12    Daniel Wellington  <p>Who says casual and classy don't mesh? Ther...
13    Daniel Wellington  <p>This Daniel Wellington Dapper Sheffield wat...
14    Daniel Wellington  <p>A brilliant blend of classic luxury and mod...
15                Timex  You're a person of action, one who's never met...
16       Emporio Armani  <p>The Zeta by Emporio Armani is the perfect w...
17  Marc By Marc Jacobs  <p>The Courtney from Marc Jacobs is the perfec...
18              Invicta  <p>The Invicta Angel brings style to a classic...
19    Daniel Wellington  <p>Daniel Wellington continues its reputation ...

         style                                           keywords  \
0   AW1360-12H  12h aw1360 fashion brown watch citizen drive e...
1       MK5550  mk5550 black watch bradshaw kors michael stain...
2       0205DW                                               None
3       0105DW                                               None
4      0606502  0606502 watch dress leather men museum black g...
5       JR1401  jr1401 black nate stainless steel watch chrono...
6       0209DW                                               None
7       0211DW                                               None
8       0206DW                                               None
9       0106DW                                               None
10      1100DW                                               None
11      1101DW                                               None
12      1120DW                                               None
13      1121DW                                               None
14      1103DW                                               None
15   TW5K88000  tw5k88000 timex ironman watch run sport black ...
16      AR1999  ar1999 watch armani brown dress leather men em...
17      MJ3456  mj3456 watch courtney marc jacobs silver stain...
18       19219  19219 angel watch invicta women gold quartz st...
19      0903DW                                               None

      subCategory  catName  count_image
0   Fashion Watch  Watches            3
1   Fashion Watch  Watches            3
2   Fashion Watch  Watches            3
3   Fashion Watch  Watches            3
4     Dress Watch  Watches            3
5   Fashion Watch  Watches            3
6   Fashion Watch  Watches            3
7   Fashion Watch  Watches            3
8   Fashion Watch  Watches            3
9     Dress Watch  Watches            3
10    Dress Watch  Watches            3
11    Dress Watch  Watches            3
12    Dress Watch  Watches            3
13    Dress Watch  Watches            3
14    Dress Watch  Watches            3
15    Sport Watch  Watches            2
16    Dress Watch  Watches            3
17    Dress Watch  Watches            3
18  Fashion Watch  Watches            3
19  Fashion Watch  Watches            3

In [153]:
test_data.fillna('unknown', inplace = True)

In [154]:
test_data = test_data.iloc[:20,:]

In [155]:
test_data.shape

(20, 23)

FOR DESCRIPTION

In [156]:
X = data.description
y = data['IDQ Score'].astype(str)

In [157]:
X.head()

0     p This expertly crafted Pacific Beach watch p...
1     p If looking add little bit class wardrobe  C...
2     p Refresh Car Odor Eliminators clip right ont...
3     p Dress little one success Slub Pocket Tee Ja...
4    5 piece set paint markers perfect lettering ad...
Name: description, dtype: object

In [158]:
X.shape, y.shape

((5372,), (5372,))

In [159]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB

In [160]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 0 , shuffle= True)

Using Random Forest.

In [161]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier

from sklearn.pipeline import Pipeline

In [162]:
classifier = Pipeline([("tfidf", TfidfVectorizer()) , ("classifier", RandomForestClassifier(n_estimators=200))])

In [163]:
classifier.fit(X_train, y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()),
                ('classifier', RandomForestClassifier(n_estimators=200))])

In [164]:
y_pred = classifier.predict(X_test)

In [165]:
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix

In [166]:
accuracy_score(y_test, y_pred)

0.7358139534883721

In [167]:
confusion_matrix(y_test, y_pred)

array([[322,  10,   0,   0,   0,   7,   0,   0,   1,   4,   0,   0,  10,
          0,   0,   0,   2,   0,   3],
       [  6, 149,   0,   0,   0,   0,   0,   0,   0,   1,   0,   6,   3,
          0,   0,   0,   2,   0,  10],
       [  0,   0,   0,   0,   0,   1,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0],
       [  0,   1,   0,   1,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   1,   0,
          0,   0,   0,   1,   0,   0],
       [ 15,   0,   0,   1,   0, 125,   0,   0,   0,   1,   0,   0,  13,
          0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,   1,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   1,   0,   0],
       [  0,   2,   0,   0,   0,   0,   1,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   1,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   5,   0,   0,   1,   0,
          0,   0,   0,   0,   0,   0],
       [ 14,   1,   0,   0,   0,   0,   0,   0,   0,  17,   0,   0,   2,
          0,   0,   0,  17,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   1,   0,   0],
       [  1,   6,   0,   0,   0,   0,   0,   0,   0,   0,   0,   8,   0,
          0,   0,   0,   0,   0,   6],
       [ 24,  16,   0,   0,   0,  14,   0,   0,   0,   3,   0,   2,  91,
          0,   0,   0,   1,   0,   0],
       [  0,   1,   0,   0,   0,   1,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   1,   0,   0],
       [  2,   5,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   1,   0,   1,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   1,   0,   0,   0],
       [ 17,   7,   0,   0,   0,   3,   0,   0,   0,   5,   0,   1,   1,
          0,   0,   0,  21,   0,   4],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   1,   0],
       [  1,  10,   0,   0,   0,   0,   0,   0,   0,   0,   0,   5,   0,
          0,   0,   0,   4,   1,  49]], dtype=int64)

In [168]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         0.0       0.80      0.90      0.85       359
       100.0       0.72      0.84      0.77       177
        45.0       0.00      0.00      0.00         1
        50.0       0.50      0.50      0.50         2
        55.0       0.00      0.00      0.00         2
        60.0       0.83      0.81      0.82       155
        62.5       0.00      0.00      0.00         2
        65.0       0.00      0.00      0.00         4
        67.5       0.83      0.83      0.83         6
        70.0       0.55      0.33      0.41        51
        72.5       0.00      0.00      0.00         1
        75.0       0.33      0.38      0.36        21
        80.0       0.76      0.60      0.67       151
        82.5       0.00      0.00      0.00         3
        85.0       1.00      0.11      0.20         9
        87.5       1.00      1.00      1.00         1
        90.0       0.40      0.36      0.38        59
        92.5       0.50      1.00      0.67         1
        95.0       0.68      0.70      0.69        70

    accuracy                           0.74      1075
   macro avg       0.47      0.44      0.43      1075
weighted avg       0.73      0.74      0.72      1075

C:\Anaconda\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [169]:
test_data1 = [i for i in test_data['description']]

In [170]:
m = []
for i in test_data1:
    i = [i]
    k = classifier.predict(i)
    l = k.astype(float)
    m.append(l)
description = pd.DataFrame(m, columns = ['description_score'])
test_data['description_score'] = description['description_score'].values

In [47]:
test_data.head()

,productid,title,brand,description,style,keywords,subCategory,catName,count_image,description_score
0,1681912532,Citizen Men's Eco-Drive AW1360-12H Brown Leath...,Citizen,<p>Classic styling and a full range of feature...,AW1360-12H,12h aw1360 fashion brown watch citizen drive e...,Fashion Watch,Watches,3,100.0
1,1681908939,Michael Kors Men's Bradshaw MK5550 Black Stain...,Michael Kors,<p>This practical yet stylish watch by Michael...,MK5550,mk5550 black watch bradshaw kors michael stain...,Fashion Watch,Watches,3,100.0
2,1681905141,Daniel Wellington Men's Warwick 0205DW Silver ...,Daniel Wellington,<p>Classic styling and a full range of feature...,0205DW,unknown,Fashion Watch,Watches,3,100.0
3,1681907339,Daniel Wellington Men's Warwick 0105DW Gold Ny...,Daniel Wellington,<p>Show off your laid-back personality with th...,0105DW,unknown,Fashion Watch,Watches,3,100.0
4,1681906852,Movado Men's Museum 0606502 Grey Leather Swiss...,Movado,Show off your laid-back personality with this ...,0606502,0606502 watch dress leather men museum black g...,Dress Watch,Watches,3,100.0

For Title

In [48]:
X1 = data.title
y1 = data['IDQ Score'].astype(str)

In [49]:
X1_train, X1_test, y1_train, y1_test = train_test_split(X1,y1, test_size = 0.2, random_state = 0 , shuffle= True)

In [50]:
classifier1 = Pipeline([("tfidf", TfidfVectorizer()) , ("classifier", RandomForestClassifier(n_estimators=200))])

In [51]:
classifier1.fit(X1_train, y1_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()),
                ('classifier', RandomForestClassifier(n_estimators=200))])

In [52]:
y1_pred = classifier1.predict(X1_test)

In [53]:
accuracy_score(y1_test, y1_pred)

0.7386046511627907

In [54]:
confusion_matrix(y1_test, y1_pred)

array([[335,   7,   0,   0,   0,   0,   4,   0,   0,   0,   0,   0,   0,
          7,   0,   0,   0,   2,   0,   4],
       [ 13, 137,   0,   0,   0,   0,   0,   0,   0,   0,   0,   1,   0,
          7,   0,   0,   0,   4,   0,  11],
       [  0,   0,   0,   0,   0,   0,   1,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0],
       [  1,   0,   0,   1,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   1,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   1,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0],
       [ 20,   2,   0,   0,   0,   0, 125,   0,   0,   0,   3,   0,   0,
          5,   0,   0,   0,   0,   0,   0],
       [  1,   0,   0,   0,   1,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0],
       [  1,   1,   0,   0,   0,   1,   0,   1,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0],
       [  0,   1,   0,   0,   0,   0,   0,   0,   0,   5,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0],
       [ 21,   1,   0,   0,   0,   0,   0,   0,   0,   0,  11,   0,   0,
          4,   0,   0,   0,   5,   0,   1],
       [  1,   2,   0,   0,   0,   0,   0,   0,   0,   0,   0,   9,   0,
          0,   0,   0,   0,   0,   0,   6],
       [  1,   1,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0],
       [ 31,  12,   0,   0,   0,   0,  11,   0,   0,   0,   1,   0,   0,
         84,   0,   0,   0,   2,   0,   1],
       [  1,   1,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0],
       [  0,   5,   0,   0,   0,   0,   0,   0,   0,   0,   1,   0,   0,
          0,   0,   0,   0,   1,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   1,   0,   0,   0],
       [ 24,  11,   0,   0,   0,   0,   1,   0,   0,   0,   5,   0,   0,
          4,   0,   0,   0,  24,   0,   6],
       [  2,   1,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0],
       [  1,  12,   0,   0,   0,   0,   0,   0,   0,   0,   0,   2,   0,
          0,   0,   0,   0,   1,   0,  62]], dtype=int64)

In [55]:
print(classification_report(y1_test, y1_pred))

              precision    recall  f1-score   support

         0.0       0.74      0.93      0.83       359
       100.0       0.71      0.79      0.75       173
        45.0       0.00      0.00      0.00         1
        50.0       1.00      0.50      0.67         2
        55.0       0.00      0.00      0.00         2
        57.5       0.00      0.00      0.00         0
        60.0       0.87      0.81      0.84       155
        62.5       0.00      0.00      0.00         2
        65.0       0.00      0.00      0.00         4
        67.5       1.00      0.83      0.91         6
        70.0       0.52      0.26      0.34        43
        75.0       0.75      0.50      0.60        18
        77.5       0.00      0.00      0.00         2
        80.0       0.76      0.59      0.66       142
        82.5       0.00      0.00      0.00         2
        85.0       0.00      0.00      0.00         7
        87.5       1.00      1.00      1.00         1
        90.0       0.60      0.32      0.42        75
        92.5       0.00      0.00      0.00         3
        95.0       0.68      0.79      0.73        78

    accuracy                           0.74      1075
   macro avg       0.43      0.37      0.39      1075
weighted avg       0.72      0.74      0.72      1075

C:\Anaconda\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Anaconda\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [56]:
n = []
test_data2 = [j for j in test_data['title']]
for k in test_data2:
    k = [k]
    l = classifier.predict(k)
    m = l.astype(float)
    n.append(m)
title = pd.DataFrame(n, columns = ['title_score'])
test_data['title_score'] = title['title_score'].values

In [57]:
test_data.head()

,productid,title,brand,description,style,keywords,subCategory,catName,count_image,description_score,title_score
0,1681912532,Citizen Men's Eco-Drive AW1360-12H Brown Leath...,Citizen,<p>Classic styling and a full range of feature...,AW1360-12H,12h aw1360 fashion brown watch citizen drive e...,Fashion Watch,Watches,3,100.0,0.0
1,1681908939,Michael Kors Men's Bradshaw MK5550 Black Stain...,Michael Kors,<p>This practical yet stylish watch by Michael...,MK5550,mk5550 black watch bradshaw kors michael stain...,Fashion Watch,Watches,3,100.0,100.0
2,1681905141,Daniel Wellington Men's Warwick 0205DW Silver ...,Daniel Wellington,<p>Classic styling and a full range of feature...,0205DW,unknown,Fashion Watch,Watches,3,100.0,100.0
3,1681907339,Daniel Wellington Men's Warwick 0105DW Gold Ny...,Daniel Wellington,<p>Show off your laid-back personality with th...,0105DW,unknown,Fashion Watch,Watches,3,100.0,100.0
4,1681906852,Movado Men's Museum 0606502 Grey Leather Swiss...,Movado,Show off your laid-back personality with this ...,0606502,0606502 watch dress leather men museum black g...,Dress Watch,Watches,3,100.0,90.0

FOR KEYWORDS

In [58]:
X2 = data.keywords
y2 = data['IDQ Score'].astype(str)

In [59]:
X2_train, X2_test, y2_train, y2_test = train_test_split(X2,y2, test_size = 0.2, random_state = 0 , shuffle= True)

In [60]:
classifier2 = Pipeline([("tfidf", TfidfVectorizer()) , ("classifier", RandomForestClassifier(n_estimators=200))])

In [61]:
classifier2.fit(X2_train, y2_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()),
                ('classifier', RandomForestClassifier(n_estimators=200))])

In [62]:
y2_pred = classifier2.predict(X2_test)

In [63]:
accuracy_score(y2_test, y2_pred)

0.6697674418604651

In [64]:
confusion_matrix(y2_test, y2_pred)

array([[329,   6,   0,   0,   0,  12,   0,   0,   1,   0,   0,   0,   5,
          0,   0,   0,   1,   0,   5],
       [ 15,  91,   0,   0,   0,   8,   0,   0,   0,   0,   1,   0,  10,
          0,   0,   0,   2,   0,  46],
       [  0,   0,   0,   0,   0,   1,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0],
       [  0,   1,   0,   1,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0],
       [  0,   1,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   1,   0,   0],
       [ 24,   1,   0,   0,   0, 124,   0,   0,   0,   0,   0,   0,   6,
          0,   0,   0,   0,   0,   0],
       [  0,   1,   0,   0,   1,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0],
       [  0,   1,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   1,
          0,   0,   0,   2,   0,   0],
       [  0,   1,   0,   0,   0,   0,   0,   0,   5,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0],
       [ 24,   0,   0,   0,   0,   7,   0,   0,   0,   4,   0,   0,   4,
          0,   0,   0,   3,   0,   1],
       [  1,   1,   0,   0,   0,   0,   0,   0,   0,   0,   7,   0,   0,
          0,   0,   0,   1,   0,   8],
       [  0,   2,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0],
       [ 35,   7,   0,   0,   0,  14,   0,   0,   0,   1,   0,   0,  82,
          0,   0,   0,   0,   0,   3],
       [  0,   1,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   1,   0,   0],
       [  0,   6,   0,   0,   0,   0,   0,   0,   0,   1,   0,   0,   0,
          0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   1,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0],
       [ 27,   7,   0,   0,   0,   6,   0,   0,   0,   6,   0,   0,   8,
          0,   0,   0,  16,   0,   5],
       [  0,   0,   0,   0,   0,   1,   0,   0,   0,   0,   0,   0,   1,
          0,   0,   0,   1,   0,   0],
       [  2,  13,   0,   0,   0,   1,   0,   0,   0,   0,   1,   0,   0,
          0,   0,   0,   0,   0,  61]], dtype=int64)

In [65]:
print(classification_report(y2_test, y2_pred))

              precision    recall  f1-score   support

         0.0       0.72      0.92      0.81       359
       100.0       0.65      0.53      0.58       173
        45.0       0.00      0.00      0.00         1
        50.0       1.00      0.50      0.67         2
        55.0       0.00      0.00      0.00         2
        60.0       0.71      0.80      0.75       155
        62.5       0.00      0.00      0.00         2
        65.0       0.00      0.00      0.00         4
        67.5       0.83      0.83      0.83         6
        70.0       0.33      0.09      0.15        43
        75.0       0.78      0.39      0.52        18
        77.5       0.00      0.00      0.00         2
        80.0       0.70      0.58      0.63       142
        82.5       0.00      0.00      0.00         2
        85.0       0.00      0.00      0.00         7
        87.5       0.00      0.00      0.00         1
        90.0       0.57      0.21      0.31        75
        92.5       0.00      0.00      0.00         3
        95.0       0.47      0.78      0.59        78

    accuracy                           0.67      1075
   macro avg       0.36      0.30      0.31      1075
weighted avg       0.65      0.67      0.64      1075

C:\Anaconda\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [66]:
q = []
test_data3 = [l for l in test_data['keywords']]
for m in test_data3:
    m = [m]
    p = classifier.predict(m)
    r = p.astype(float)
    q.append(r)
keywords = pd.DataFrame(q, columns=['keywords_score'])
test_data['keywords_score'] = keywords['keywords_score'].values

In [67]:
test_data.head(2)

,productid,title,brand,description,style,keywords,subCategory,catName,count_image,description_score,title_score,keywords_score
0,1681912532,Citizen Men's Eco-Drive AW1360-12H Brown Leath...,Citizen,<p>Classic styling and a full range of feature...,AW1360-12H,12h aw1360 fashion brown watch citizen drive e...,Fashion Watch,Watches,3,100.0,0.0,0.0
1,1681908939,Michael Kors Men's Bradshaw MK5550 Black Stain...,Michael Kors,<p>This practical yet stylish watch by Michael...,MK5550,mk5550 black watch bradshaw kors michael stain...,Fashion Watch,Watches,3,100.0,100.0,100.0

In [68]:
test_data['score'] = (test_data['description_score'] + test_data['title_score'] + test_data['keywords_score'])/3
test_data = test_data.drop(['description_score','title_score','keywords_score'] , axis = 'columns')
test_data.head(20)

,productid,title,brand,description,style,keywords,subCategory,catName,count_image,score
0,1681912532,Citizen Men's Eco-Drive AW1360-12H Brown Leath...,Citizen,<p>Classic styling and a full range of feature...,AW1360-12H,12h aw1360 fashion brown watch citizen drive e...,Fashion Watch,Watches,3,33.333333
1,1681908939,Michael Kors Men's Bradshaw MK5550 Black Stain...,Michael Kors,<p>This practical yet stylish watch by Michael...,MK5550,mk5550 black watch bradshaw kors michael stain...,Fashion Watch,Watches,3,100.000000
2,1681905141,Daniel Wellington Men's Warwick 0205DW Silver ...,Daniel Wellington,<p>Classic styling and a full range of feature...,0205DW,unknown,Fashion Watch,Watches,3,96.666667
3,1681907339,Daniel Wellington Men's Warwick 0105DW Gold Ny...,Daniel Wellington,<p>Show off your laid-back personality with th...,0105DW,unknown,Fashion Watch,Watches,3,96.666667
4,1681906852,Movado Men's Museum 0606502 Grey Leather Swiss...,Movado,Show off your laid-back personality with this ...,0606502,0606502 watch dress leather men museum black g...,Dress Watch,Watches,3,96.666667
5,1681895148,Fossil Men's Nate JR1401 Black Stainless-Steel...,Fossil,<p>This Nate watch by Fossil is a new addition...,JR1401,jr1401 black nate stainless steel watch chrono...,Fashion Watch,Watches,3,100.000000
6,1681900687,Daniel Wellington Men's Bristol 0209DW Silver ...,Daniel Wellington,<p>Daniel Wellington timepieces are definitely...,0209DW,unknown,Fashion Watch,Watches,3,96.666667
7,1681900689,Daniel Wellington Men's York 0211DW Silver Lea...,Daniel Wellington,<p>Characteristic of Daniel Wellingtons signat...,0211DW,unknown,Fashion Watch,Watches,3,96.666667
8,1681898382,Daniel Wellington Men's Classic Sheffield 0206...,Daniel Wellington,<p>Classic styling and a full range of feature...,0206DW,unknown,Fashion Watch,Watches,3,96.666667
9,1681898384,Daniel Wellington Men's Classic St. Andrews 01...,Daniel Wellington,<p>Classic styling and a full range of feature...,0106DW,unknown,Dress Watch,Watches,3,96.666667
10,1681956160,Daniel Wellington Men's Dapper St.Mawes 1100DW...,Daniel Wellington,<p>This Daniel Wellington Dapper St.Mawes watc...,1100DW,unknown,Dress Watch,Watches,3,96.666667
11,1681956161,Daniel Wellington Men's Dapper Sheffield 1101D...,Daniel Wellington,<p>If youre a man with even the slightest fash...,1101DW,unknown,Dress Watch,Watches,3,96.666667
12,1681956162,Daniel Wellington Men's Dapper St. Mawes 1120D...,Daniel Wellington,<p>Who says casual and classy don't mesh? Ther...,1120DW,unknown,Dress Watch,Watches,3,63.333333
13,1681956163,Daniel Wellington Men's Dapper Sheffield 1121D...,Daniel Wellington,<p>This Daniel Wellington Dapper Sheffield wat...,1121DW,unknown,Dress Watch,Watches,3,93.333333
14,1681957566,Daniel Wellington Men's Dapper Bristol 1103DW ...,Daniel Wellington,<p>A brilliant blend of classic luxury and mod...,1103DW,unknown,Dress Watch,Watches,3,96.666667
15,1681994930,Timex Men's Ironman Run X50 TW5K88000 Black Po...,Timex,"You're a person of action, one who's never met...",TW5K88000,tw5k88000 timex ironman watch run sport black ...,Sport Watch,Watches,2,100.000000
16,1682000839,Emporio Armani Men's Zeta AR1999 Silver Leathe...,Emporio Armani,<p>The Zeta by Emporio Armani is the perfect w...,AR1999,ar1999 watch armani brown dress leather men em...,Dress Watch,Watches,3,66.666667
17,1681957748,Marc By Jacobs Women's Courtney MJ3456 Silver ...,Marc By Marc Jacobs,<p>The Courtney from Marc Jacobs is the perfec...,MJ3456,mj3456 watch courtney marc jacobs silver stain...,Dress Watch,Watches,3,100.000000
18,1681944871,Invicta Women's Angel 19219 Gold Stainless-Ste...,Invicta,<p>The Invicta Angel brings style to a classic...,19219,19219 angel watch invicta women gold quartz st...,Fashion Watch,Watches,3,100.000000
19,1681907338,Daniel Wellington Women's Classy Bristol 0903D...,Daniel Wellington,<p>Daniel Wellington continues its reputation ...,0903DW,unknown,Fashion Watch,Watches,3,96.666667

In [69]:
test_data.rename(columns={'subCategory':'subcategory','catName':'category'}, inplace = True)
test_data.head()

,productid,title,brand,description,style,keywords,subcategory,category,count_image,score
0,1681912532,Citizen Men's Eco-Drive AW1360-12H Brown Leath...,Citizen,<p>Classic styling and a full range of feature...,AW1360-12H,12h aw1360 fashion brown watch citizen drive e...,Fashion Watch,Watches,3,33.333333
1,1681908939,Michael Kors Men's Bradshaw MK5550 Black Stain...,Michael Kors,<p>This practical yet stylish watch by Michael...,MK5550,mk5550 black watch bradshaw kors michael stain...,Fashion Watch,Watches,3,100.000000
2,1681905141,Daniel Wellington Men's Warwick 0205DW Silver ...,Daniel Wellington,<p>Classic styling and a full range of feature...,0205DW,unknown,Fashion Watch,Watches,3,96.666667
3,1681907339,Daniel Wellington Men's Warwick 0105DW Gold Ny...,Daniel Wellington,<p>Show off your laid-back personality with th...,0105DW,unknown,Fashion Watch,Watches,3,96.666667
4,1681906852,Movado Men's Museum 0606502 Grey Leather Swiss...,Movado,Show off your laid-back personality with this ...,0606502,0606502 watch dress leather men museum black g...,Dress Watch,Watches,3,96.666667

In [70]:
product_score = test_data[['productid','score']]
product_score.rename(columns= {'score':'numeric_score'}, inplace = True)

C:\Anaconda\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [71]:
import datetime as dt

In [72]:
for i in range(len(product_score)):
    product_score.loc[i,['date_added']] = dt.datetime.now()
    if product_score['numeric_score'][i] >= 80:
        product_score.loc[i,['grade']] = 'A'
        product_score.loc[i,['pass']] = 1
    elif product_score['numeric_score'][i] >= 70:
        product_score.loc[i,['grade']] = 'B'
        product_score.loc[i,['pass']] = 1
    elif product_score['numeric_score'][i] >= 60:
        product_score.loc[i,['grade']] = 'C'
        product_score.loc[i,['pass']] = 1
    elif product_score['numeric_score'][i] >= 50:
        product_score.loc[i,['grade']] = 'D'
        product_score.loc[i,['pass']] = 0
    elif product_score['numeric_score'][i] >= 40:
        product_score.loc[i,['grade']] = 'E'
        product_score.loc[i,['pass']] = 0    
    else:
        product_score.loc[i,['grade']] = 'F'
        product_score.loc[i,['pass']] = 0

C:\Anaconda\lib\site-packages\pandas\core\indexing.py:659: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[k] = np.nan
C:\Anaconda\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [73]:
product_score = product_score[['productid','numeric_score','grade','pass','date_added']]
product_score.head()

    productid  numeric_score grade  pass                  date_added
0  1681912532      33.333333     F   0.0  2021-07-15 14:39:39.673360
1  1681908939     100.000000     A   1.0  2021-07-15 14:39:39.679365
2  1681905141      96.666667     A   1.0  2021-07-15 14:39:39.680356
3  1681907339      96.666667     A   1.0  2021-07-15 14:39:39.682370
4  1681906852      96.666667     A   1.0  2021-07-15 14:39:39.683356

In [74]:
import pyodbc

cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                      "Server=sql1;"
                      "Database=MWPRODUCTS;"
                      "Trusted_Connection=yes;")
cursor = cnxn.cursor()

for index,row in product_score.iterrows():
    cursor.execute("INSERT INTO bi.dbo.item_quality_score ([productid],[numeric_score],[grade],[pass],[date_added]) values(?,?,?,?,?)", [row['productid'],row['numeric_score'],row['grade'],row['pass'],row['date_added']])
    cnxn.commit()
cursor.close()

In [171]:
from gingerit.gingerit import GingerIt
parser = GingerIt()

In [76]:
from nltk import tokenize
from operator import itemgetter
import math

In [77]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize 
stop_words = set(stopwords.words('english'))

In [78]:
import spacy
from spacy.lang.en.stop_words import STOP_WORDS
new_stopwords = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z','hi','1','2','3','4','5','6','7','8','9','0','off','dr','at','all','due','to','on','daily']
stpwrd = nltk.corpus.stopwords.words('english')
stpwrd.extend(new_stopwords)
print(stpwrd)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't", 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'hi', '1', '2', '3', '4', '5', '6', '7', '8', '9', '0', 'off', 'dr', 'at', 'all', 'due', 'to', 'on', 'daily']

In [79]:
test_data['brand_response'] = ""
test_data['subcategory_response'] = ""
test_data['keywords_response'] = ""
test_data['keywords_response'] = ""
test_data['title_response'] = ""
test_data['description_response'] = ""
test_data['style_response'] = ""
test_data['category_response'] = ""
test_data['image_response'] = ""
test_data['Overall_response'] = ""
test_data['recommended_keywords'] = ""
test_data['additional_keywords'] = ""
test_data['grammer_corrected_title'] = ""
test_data['grammer_corrected_description'] = ""

for i in range(len(test_data)):
                       
    if test_data['description'][i].lower() == 'unknown' or test_data['description'][i] == '':
        test_data.loc[i,['description_response']] = 'Description missing'
        test_data.loc[i,['Overall_response']] = 'Fail'
                
        if test_data['brand'][i].lower() == 'unknown' or test_data['brand'][i] == '':           
            test_data.loc[i,['brand_response']] = 'Brand Name Missing!'
                                            
        if test_data['style'][i].lower() == 'unknown' or test_data['style'][i] == '':
            test_data.loc[i,['style_response']] = 'Style Missing!'
                    
        if test_data['title'][i].lower() == 'unknown' or test_data['title'][i] == '': 
            test_data.loc[i,['title_response']] = 'Title missing; new title cannot be recommended because the description is empty.'
            
        if test_data['title'][i].lower() != 'unknown' and test_data['title'][i] != '':
            
            # check spell and grammer
            m5 = parser.parse(test_data['title'][i])
            title = m5['result']
            if test_data['title'][i] != title:
                test_data.loc[i,['grammer_corrected_title']] = title          
                                                    
        if test_data['keywords'][i].lower() == 'unknown' or test_data['keywords'][i] == '':
            test_data.loc[i,['keywords_response']] = 'Title missing; new keywords cannot be recommended because the description is empty.'          
                                   
        if test_data['category'][i].lower() == 'unknown' or test_data['category'][i] == '':
            test_data.loc[i,['category_response']] = 'Category Missing!'
                                                        
        if test_data['subcategory'][i].lower() == 'unknown' or test_data['subcategory'][i] == '':
            test_data.loc[i,['subcategory_response']] = 'SubCategory Missing!'
                             
        if test_data['count_image'][i] < 1 or test_data['count_image'][i] == 'unknown':
            test_data.loc[i,['image_response']] = 'You may want to include atleast one image.'    
            
    if test_data['description'][i].lower() !='unknown' and test_data['description'][i]!= '':
        text = test_data['description'][i]
        q10 = nltk.sent_tokenize(text)
        list = []
        for j in q10:
            m3 = parser.parse(j)
            title = m3['result']
            list.append(title)
        list1 = " ".join(list)    
        if test_data['description'][i] != list1:            
            test_data.loc[i,['grammer_corrected_description']] = list1 
            
        if test_data['brand'][i].lower() == 'unknown' or test_data['brand'][i] == '':           
            test_data.loc[i,['brand_response']] = 'Brand Name Missing!'           
                                    
        if test_data['style'][i].lower() == 'unknown' or test_data['style'][i] == '':
            test_data.loc[i,['style_response']] = 'Style Missing!'
                                
        if test_data['title'][i].lower() == 'unknown' or test_data['title'][i] == '': 
            test_data.loc[i,['title_response']] = 'Title missing'
            test_data.loc[i,['Overall_response']] = 'Fail'
                                                                                     
        if test_data['title'][i].lower() != 'unknown' and test_data['title'][i] != '':
            # check spell and grammer
            m3 = parser.parse(test_data['title'][i])
            title = m3['result']
            if test_data['title'][i] != title:
                test_data.loc[i,['grammer_corrected_title']] = title
                       
            
        if test_data['keywords'][i].lower() == 'unknown' or test_data['keywords'][i] == '':
            
            test_data.loc[i,['keywords_response']] = 'Keywords missing'
            test_data.loc[i,['Overall_response']] = 'Fail'
            
            total_words = test_data['description'][i].split()
            total_word_length = len(total_words)
            total_sentences = tokenize.sent_tokenize(test_data['description'][i])
            total_sent_len = len(total_sentences)
            
            tf_score = {}
            for each_word in total_words:
                each_word = each_word.replace('.','')
                if each_word in tf_score:
                    tf_score[each_word] += 1
                else:
                    tf_score[each_word] = 1
            tf_score.update((x, y/int(total_word_length)) for x, y in tf_score.items())
            
            def check_sent(word,sentences):
                final = [all([w in x for w in word]) for x in sentences]
                sent_len = [sentences[i] for i in range(0, len(final)) if final[i]]
                return int(len(sent_len))
                            
            
            idf_score = {}
            for each_word in total_words:
                each_word = each_word.replace('.','')
                if each_word not in stop_words:
                    if each_word in idf_score:
                        idf_score[each_word] = check_sent(each_word, total_sentences)
                    else:
                        idf_score[each_word] = 1
                        
            idf_score.update((x, math.log(int(total_sent_len)/y)) for x, y in idf_score.items())            
            tf_idf_score = {key: tf_score[key] * idf_score.get(key, 0) for key in tf_score.keys()}
            
           # this will show the key words in dictionary form.
        
            def get_top_n(dict_elem, n):
                result = dict(sorted(dict_elem.items(), key = itemgetter(1), reverse = True)[:n]) 
                return result
            
            q = get_top_n(tf_idf_score, 50) 
            
            # this will show the keywords in list form.
            def getList(s):
                list = []
                for key in q.keys():
                    list.append(key)
                return list
            
            #get keywords list.
            m = getList(q)
            m1 = " ".join(m)
            m2 = [t for t in m1.split() if t.lower() not in stpwrd]
            m3 = ' '.join(m2)
            m4 = m3.translate(str.maketrans(punc_string, len(punc_string)*' '))
            m5 = m4.lower()
            m6 = m5.split()
            
            # get title list.
            n = test_data['title'][i].split()
            n1 = " ". join(n)
            n2 = [u for u in n1.split() if u.lower() not in stpwrd]
            n3 = " ".join(n2)
            n4 = n3.translate(str.maketrans(punc_string, len(punc_string)*' '))
            n5 = n4.lower()
            n6 = n5.split()
                        
            # Now compare the keywords list to title list.
            def intersection(lst1, lst2):
                lst3 = [value for value in lst1 if value in lst2]
                return lst3
            k = intersection(m6,n6)
                        
            # exclude the word that is in the brand.
            
            p = test_data['brand'][i].split()
            for element in p:
                if element in k:
                    k.remove(element)
            
            l = ','.join(k)
            l1 = [b for b in l.split(',') if b.lower() not in stpwrd]
            l2 = ",".join(l1)
            test_data.loc[i,['recommended_keywords']] = l2
        
        if test_data['keywords'][i].lower() != 'unknown' and test_data['keywords'][i] != '':
            
            total_words = test_data['description'][i].split()
            total_word_length = len(total_words)
            total_sentences = tokenize.sent_tokenize(test_data['description'][i])
            total_sent_len = len(total_sentences)
                          
            tf_score = {}
            for each_word in total_words:
                each_word = each_word.replace('.','')
                if each_word in tf_score:
                    tf_score[each_word] += 1
                else:
                    tf_score[each_word] = 1
            tf_score.update((x, y/int(total_word_length)) for x, y in tf_score.items()) 
            
            def check_sent(word,sentences):
                final = [all([w in x for w in word]) for x in sentences]
                sent_len = [sentences[i] for i in range(0, len(final)) if final[i]]
                return int(len(sent_len))
                       
            idf_score = {}
            for each_word in total_words:
                each_word = each_word.replace('.','')
                if each_word not in stop_words:
                    if each_word in idf_score:
                        idf_score[each_word] = check_sent(each_word, total_sentences)
                    else:
                        idf_score[each_word] = 1
            
            idf_score.update((x, math.log(int(total_sent_len)/y)) for x, y in idf_score.items())            
            tf_idf_score = {key: tf_score[key] * idf_score.get(key, 0) for key in tf_score.keys()}
            
            def get_top_n(dict_elem, n):
                result = dict(sorted(dict_elem.items(), key = itemgetter(1), reverse = True)[:n]) 
                return result
            
            q = get_top_n(tf_idf_score, 50) 
            
            def getList(s):
                list = []
                for key in q.keys():
                    list.append(key)
                return list
            
            m = getList(q)
            m1 = " ".join(m)
            m2 = [v for v in m1.split() if v.lower() not in stpwrd]
            m3 = ' '.join(m2)
            m4 = m3.translate(str.maketrans(punc_string, len(punc_string)*' '))
            m5 = m4.lower()
            m6 = m5.split()
                     
            n = test_data['title'][i].split()
            n1 = " ". join(n)
            n2 = [w for w in n1.split() if w.lower() not in stpwrd]
            n3 = " ".join(n2)
            n4 = n3.translate(str.maketrans(punc_string, len(punc_string)*' '))
            n5 = n4.lower()
            n6 = n5.split()
                        
            # compare the keywords list to title list.
            def intersection(lst1, lst2):
                lst3 = [value for value in lst1 if value in lst2]
                return lst3
            k = intersection(m6,n6)
                        
            # exclude the word that is in the brand.
            p = test_data['brand'][i].split()
            for element in p:
                if element in k:
                    k.remove(element)
                    
            r = test_data['keywords'][i].split()
            r1 = " ". join(r)
            r2 = [i for i in r1.split() if i.lower() not in stpwrd]
            r3 = " ".join(r2)
            r4 = r3.translate(str.maketrans(punc_string, len(punc_string)*' '))
            r5 = r4.lower()
            r6 = r5.split()        
                                       
            # exclude the new keywords that is in the existing keywords already. 
            
            for element1 in r6:
                if element1 in k:
                    k.remove(element1)
                       
            l = ','.join(k)
            l1 = [b for b in l.split(',') if b.lower() not in stpwrd]
            l2 = ",".join(l1)
            test_data.loc[i,['additional_keywords']] = l2
                       
        if test_data['category'][i].lower() == 'unknown' or test_data['category'][i] == '':
            test_data.loc[i,['category_response']] = 'Category Missing!'
            test_data.loc[i,['Overall_response']] = 'Fail'                    
                               
        if test_data['subcategory'][i].lower() == 'unknown' or test_data['subcategory'][i] == '':
            test_data.loc[i,['subcategory_response']] = 'SubCategory Missing!'
            test_data.loc[i,['Overall_response']] = 'Fail' 
            
        if test_data['count_image'][i] < 2 or test_data['count_image'][i] == 'unknown':
            test_data.loc[i,['image_response']] = 'You may want to include atleast one image'     
            test_data.loc[i,['Overall_response']] = 'Fail'

In [80]:
test_data.head(20)

,productid,title,brand,description,style,keywords,subcategory,category,count_image,score,...,title_response,description_response,style_response,category_response,image_response,Overall_response,recommended_keywords,additional_keywords,grammer_corrected_title,grammer_corrected_description
0,1681912532,Citizen Men's Eco-Drive AW1360-12H Brown Leath...,Citizen,<p>Classic styling and a full range of feature...,AW1360-12H,12h aw1360 fashion brown watch citizen drive e...,Fashion Watch,Watches,3,33.333333,...,,,,,,,,,,<p>Classic styling and a full range of feature...
1,1681908939,Michael Kors Men's Bradshaw MK5550 Black Stain...,Michael Kors,<p>This practical yet stylish watch by Michael...,MK5550,mk5550 black watch bradshaw kors michael stain...,Fashion Watch,Watches,3,100.000000,...,,,,,,,,,,<p>This practical yet stylish watch by Michael...
2,1681905141,Daniel Wellington Men's Warwick 0205DW Silver ...,Daniel Wellington,<p>Classic styling and a full range of feature...,0205DW,unknown,Fashion Watch,Watches,3,96.666667,...,,,,,,Fail,"daniel,wellington,watch,nylon,japanese,quartz",,,<p>Classic styling and a full range of feature...
3,1681907339,Daniel Wellington Men's Warwick 0105DW Gold Ny...,Daniel Wellington,<p>Show off your laid-back personality with th...,0105DW,unknown,Fashion Watch,Watches,3,96.666667,...,,,,,,Fail,"daniel,wellington,nylon,watch,gold",,,
4,1681906852,Movado Men's Museum 0606502 Grey Leather Swiss...,Movado,Show off your laid-back personality with this ...,0606502,0606502 watch dress leather men museum black g...,Dress Watch,Watches,3,96.666667,...,,,,,,,,,Movado Men's Museum 0606502 Gray Leather Swiss...,Show off your laid-back personality with this ...
5,1681895148,Fossil Men's Nate JR1401 Black Stainless-Steel...,Fossil,<p>This Nate watch by Fossil is a new addition...,JR1401,jr1401 black nate stainless steel watch chrono...,Fashion Watch,Watches,3,100.000000,...,,,,,,,,"stainless,steel",,<p>This Nate watch by Fossil is a new addition...
6,1681900687,Daniel Wellington Men's Bristol 0209DW Silver ...,Daniel Wellington,<p>Daniel Wellington timepieces are definitely...,0209DW,unknown,Fashion Watch,Watches,3,96.666667,...,,,,,,Fail,"daniel,wellington,silver,leather,watch",,,<p>Daniel Wellington timepieces are definitely...
7,1681900689,Daniel Wellington Men's York 0211DW Silver Lea...,Daniel Wellington,<p>Characteristic of Daniel Wellingtons signat...,0211DW,unknown,Fashion Watch,Watches,3,96.666667,...,,,,,,Fail,"daniel,silver,leather,japanese,quartz",,,
8,1681898382,Daniel Wellington Men's Classic Sheffield 0206...,Daniel Wellington,<p>Classic styling and a full range of feature...,0206DW,unknown,Fashion Watch,Watches,3,96.666667,...,,,,,,Fail,"classic,daniel,wellington,0206dw,leather,japan...",,,<p>Classic styling and a full range of feature...
9,1681898384,Daniel Wellington Men's Classic St. Andrews 01...,Daniel Wellington,<p>Classic styling and a full range of feature...,0106DW,unknown,Dress Watch,Watches,3,96.666667,...,,,,,,Fail,"classic,daniel,wellington,leather,japanese,qua...",,,<p>Classic styling and a full range of feature...
10,1681956160,Daniel Wellington Men's Dapper St.Mawes 1100DW...,Daniel Wellington,<p>This Daniel Wellington Dapper St.Mawes watc...,1100DW,unknown,Dress Watch,Watches,3,96.666667,...,,,,,,Fail,"daniel,dapper,wellington,leather,wellington,watch",,Daniel Wellington Men's Dapper St. Mawes 1100D...,<p>This Daniel Wellington Dapper St. Mawes wat...
11,1681956161,Daniel Wellington Men's Dapper Sheffield 1101D...,Daniel Wellington,<p>If youre a man with even the slightest fash...,1101DW,unknown,Dress Watch,Watches,3,96.666667,...,,,,,,Fail,"daniel,wellington,dapper,sheffield,watch,leather",,,<p>If you're a man with even the slightest fas...
12,1681956162,Daniel Wellington Men's Dapper St. Mawes 1120D...,Daniel Wellington,<p>Who says casual and classy don't mesh? Ther...,1120DW,unknown,Dress Watch,Watches,3,63.333333,...,,,,,,Fail,"daniel,wellington,dapper,st,mawes",,,
13,1681956163,Daniel Wellington Men's Dapper Sheffield 1121D...,Daniel Wellington,<p>This Daniel Wellington Dapper Sheffield wat...,1121DW,unknown,Dress Watch,Watches,3,93.333333,...,,,,,,Fail,"daniel,dapper,sheffield,wellington,leather,wel...",,,<p>This Daniel Wellington Dapper Sheffield wat...
14,1681957566,Daniel Wellington Men's Dapper Bristol 1103DW ...,Daniel Wellington,<p>A brilliant blend of classic luxury and mod...,1103DW,unknown,Dress Watch,Watches,3,96.666667,...,,,,,,Fail,"daniel,wellington,dapper,bristol,watch,leather",,,<p>A brilliant blend of classic luxury and mod...
15,1681994930,Timex Men's Ironman Run X50 TW5K88000 Black Po...,Timex,"You're a person of action, one who's never met...",TW5K88000,tw5k88000 timex ironman watch run sport black ...,Sport Watch,Watches,2,100.000000,...,,,,,,,,,,"You're a person of action, one who's never met..."
16,1682000839,Emporio Armani Men's Zeta AR1999 Silver Leathe...,Emporio Armani,<p>The Zeta by Emporio Armani is the perfect w...,AR1999,ar1999 watch armani brown dress leather men em...,Dress Watch,Watches,3,66.666667,...,,,,,,,,,,<p>The Zeta by Emporio Armani is the perfect w...
17,1681957748,Marc By Jacobs Women's Courtney MJ3456 Silver ...,Marc By Marc Jacobs,<p>The Courtney from Marc Jacobs is the perfec...,MJ3456,mj3456 watch courtney marc jacobs silver stain...,Dress Watch,Watches,3,100.000000,...,,,,,,,,,,
18,1681944871,Invicta Women's Angel 19219 Gold Stainless-Ste...,Invicta,<p>The Invicta Angel brings style to a classic...,19219,19219 angel watch invicta women gold quartz st...,Fashion Watch,Watches,3,100.000000,...,,,,,,,,,Invicta Women's Angel 19219 Golds Stainless-St...,
19,1681907338,Daniel Wellington Women's Classy Bristol 0903D...,Daniel Wellington,<p>Daniel Wellington continues its reputation ...,0903DW,unknown,Fashion Watch,Watches,3,96.666667,...,,,,,,Fail,"daniel,wellington,watch,brown,leather",,,

Now creating a table of recommendation

In [81]:
# This is for title.
test_data1 = test_data[['productid','title','grammer_corrected_title']]

In [82]:
test_data1.rename(columns = {'title':'data', 'grammer_corrected_title':'recommendation'}, inplace = True)

C:\Anaconda\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [83]:
for i in range(len(test_data1)):
    if test_data1['data'][i].lower() == 'unknown' or test_data1['data'][i] == '':
        test_data1.loc[i,['data']] = 'Missing Title!'

In [84]:
test_data1.head(20)

,productid,data,recommendation
0,1681912532,Citizen Men's Eco-Drive AW1360-12H Brown Leath...,
1,1681908939,Michael Kors Men's Bradshaw MK5550 Black Stain...,
2,1681905141,Daniel Wellington Men's Warwick 0205DW Silver ...,
3,1681907339,Daniel Wellington Men's Warwick 0105DW Gold Ny...,
4,1681906852,Movado Men's Museum 0606502 Grey Leather Swiss...,Movado Men's Museum 0606502 Gray Leather Swiss...
5,1681895148,Fossil Men's Nate JR1401 Black Stainless-Steel...,
6,1681900687,Daniel Wellington Men's Bristol 0209DW Silver ...,
7,1681900689,Daniel Wellington Men's York 0211DW Silver Lea...,
8,1681898382,Daniel Wellington Men's Classic Sheffield 0206...,
9,1681898384,Daniel Wellington Men's Classic St. Andrews 01...,
10,1681956160,Daniel Wellington Men's Dapper St.Mawes 1100DW...,Daniel Wellington Men's Dapper St. Mawes 1100D...
11,1681956161,Daniel Wellington Men's Dapper Sheffield 1101D...,
12,1681956162,Daniel Wellington Men's Dapper St. Mawes 1120D...,
13,1681956163,Daniel Wellington Men's Dapper Sheffield 1121D...,
14,1681957566,Daniel Wellington Men's Dapper Bristol 1103DW ...,
15,1681994930,Timex Men's Ironman Run X50 TW5K88000 Black Po...,
16,1682000839,Emporio Armani Men's Zeta AR1999 Silver Leathe...,
17,1681957748,Marc By Jacobs Women's Courtney MJ3456 Silver ...,
18,1681944871,Invicta Women's Angel 19219 Gold Stainless-Ste...,Invicta Women's Angel 19219 Golds Stainless-St...
19,1681907338,Daniel Wellington Women's Classy Bristol 0903D...,

In [85]:
numb_of_rows = (test_data1.shape[0])

In [86]:
data1 = {'field':['Title']}
new_data1 = pd.DataFrame(data1, columns=['field'])
new_field = pd.concat([new_data1]*(numb_of_rows))
test_data1['field'] = new_field['field'].values

<ipython-input-86-9cd860205507>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data1['field'] = new_field['field'].values

In [87]:
test_data1.head()

,productid,data,recommendation,field
0,1681912532,Citizen Men's Eco-Drive AW1360-12H Brown Leath...,,Title
1,1681908939,Michael Kors Men's Bradshaw MK5550 Black Stain...,,Title
2,1681905141,Daniel Wellington Men's Warwick 0205DW Silver ...,,Title
3,1681907339,Daniel Wellington Men's Warwick 0105DW Gold Ny...,,Title
4,1681906852,Movado Men's Museum 0606502 Grey Leather Swiss...,Movado Men's Museum 0606502 Gray Leather Swiss...,Title

In [88]:
# This is for description.

test_data2 = test_data[['productid','description','grammer_corrected_description']]
test_data2.head()

,productid,description,grammer_corrected_description
0,1681912532,<p>Classic styling and a full range of feature...,<p>Classic styling and a full range of feature...
1,1681908939,<p>This practical yet stylish watch by Michael...,<p>This practical yet stylish watch by Michael...
2,1681905141,<p>Classic styling and a full range of feature...,<p>Classic styling and a full range of feature...
3,1681907339,<p>Show off your laid-back personality with th...,
4,1681906852,Show off your laid-back personality with this ...,Show off your laid-back personality with this ...

In [89]:
test_data2.rename(columns = {'description':'data', 'grammer_corrected_description':'recommendation'}, inplace = True)

C:\Anaconda\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [90]:
for i in range(len(test_data2)):
    if test_data2['data'][i].lower() == 'unknown' or test_data2['data'][i] == '':
        test_data2.loc[i,['data']] = 'Missing Description!'

In [91]:
data2 = {'field':['Description']}
new_data2 = pd.DataFrame(data2, columns=['field'])
new_field1 = pd.concat([new_data2]*(numb_of_rows))
test_data2['field'] = new_field1['field'].values

<ipython-input-91-d0face83e9ef>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data2['field'] = new_field1['field'].values

In [92]:
test_data2.head(22)

,productid,data,recommendation,field
0,1681912532,<p>Classic styling and a full range of feature...,<p>Classic styling and a full range of feature...,Description
1,1681908939,<p>This practical yet stylish watch by Michael...,<p>This practical yet stylish watch by Michael...,Description
2,1681905141,<p>Classic styling and a full range of feature...,<p>Classic styling and a full range of feature...,Description
3,1681907339,<p>Show off your laid-back personality with th...,,Description
4,1681906852,Show off your laid-back personality with this ...,Show off your laid-back personality with this ...,Description
5,1681895148,<p>This Nate watch by Fossil is a new addition...,<p>This Nate watch by Fossil is a new addition...,Description
6,1681900687,<p>Daniel Wellington timepieces are definitely...,<p>Daniel Wellington timepieces are definitely...,Description
7,1681900689,<p>Characteristic of Daniel Wellingtons signat...,,Description
8,1681898382,<p>Classic styling and a full range of feature...,<p>Classic styling and a full range of feature...,Description
9,1681898384,<p>Classic styling and a full range of feature...,<p>Classic styling and a full range of feature...,Description
10,1681956160,<p>This Daniel Wellington Dapper St.Mawes watc...,<p>This Daniel Wellington Dapper St. Mawes wat...,Description
11,1681956161,<p>If youre a man with even the slightest fash...,<p>If you're a man with even the slightest fas...,Description
12,1681956162,<p>Who says casual and classy don't mesh? Ther...,,Description
13,1681956163,<p>This Daniel Wellington Dapper Sheffield wat...,<p>This Daniel Wellington Dapper Sheffield wat...,Description
14,1681957566,<p>A brilliant blend of classic luxury and mod...,<p>A brilliant blend of classic luxury and mod...,Description
15,1681994930,"You're a person of action, one who's never met...","You're a person of action, one who's never met...",Description
16,1682000839,<p>The Zeta by Emporio Armani is the perfect w...,<p>The Zeta by Emporio Armani is the perfect w...,Description
17,1681957748,<p>The Courtney from Marc Jacobs is the perfec...,,Description
18,1681944871,<p>The Invicta Angel brings style to a classic...,,Description
19,1681907338,<p>Daniel Wellington continues its reputation ...,,Description

In [93]:
#This is for new keywords.

test_data3 = test_data[['productid','keywords','recommended_keywords']]
test_data3.head()

,productid,keywords,recommended_keywords
0,1681912532,12h aw1360 fashion brown watch citizen drive e...,
1,1681908939,mk5550 black watch bradshaw kors michael stain...,
2,1681905141,unknown,"daniel,wellington,watch,nylon,japanese,quartz"
3,1681907339,unknown,"daniel,wellington,nylon,watch,gold"
4,1681906852,0606502 watch dress leather men museum black g...,

In [94]:
test_data3.rename(columns = {'keywords':'data', 'recommended_keywords':'recommendation'}, inplace = True)

C:\Anaconda\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [95]:
data3 = {'field':['Keywords']}
new_data3 = pd.DataFrame(data3, columns=['field'])
new_field2 = pd.concat([new_data3]*(numb_of_rows))
test_data3['field'] = new_field2['field'].values

<ipython-input-95-eb7d3bf52d59>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data3['field'] = new_field2['field'].values

In [96]:
test_data3.head(26)

,productid,data,recommendation,field
0,1681912532,12h aw1360 fashion brown watch citizen drive e...,,Keywords
1,1681908939,mk5550 black watch bradshaw kors michael stain...,,Keywords
2,1681905141,unknown,"daniel,wellington,watch,nylon,japanese,quartz",Keywords
3,1681907339,unknown,"daniel,wellington,nylon,watch,gold",Keywords
4,1681906852,0606502 watch dress leather men museum black g...,,Keywords
5,1681895148,jr1401 black nate stainless steel watch chrono...,,Keywords
6,1681900687,unknown,"daniel,wellington,silver,leather,watch",Keywords
7,1681900689,unknown,"daniel,silver,leather,japanese,quartz",Keywords
8,1681898382,unknown,"classic,daniel,wellington,0206dw,leather,japan...",Keywords
9,1681898384,unknown,"classic,daniel,wellington,leather,japanese,qua...",Keywords
10,1681956160,unknown,"daniel,dapper,wellington,leather,wellington,watch",Keywords
11,1681956161,unknown,"daniel,wellington,dapper,sheffield,watch,leather",Keywords
12,1681956162,unknown,"daniel,wellington,dapper,st,mawes",Keywords
13,1681956163,unknown,"daniel,dapper,sheffield,wellington,leather,wel...",Keywords
14,1681957566,unknown,"daniel,wellington,dapper,bristol,watch,leather",Keywords
15,1681994930,tw5k88000 timex ironman watch run sport black ...,,Keywords
16,1682000839,ar1999 watch armani brown dress leather men em...,,Keywords
17,1681957748,mj3456 watch courtney marc jacobs silver stain...,,Keywords
18,1681944871,19219 angel watch invicta women gold quartz st...,,Keywords
19,1681907338,unknown,"daniel,wellington,watch,brown,leather",Keywords

In [97]:
test_data3 = test_data3[test_data3['data']=='unknown']

In [98]:
test_data3

,productid,data,recommendation,field
2,1681905141,unknown,"daniel,wellington,watch,nylon,japanese,quartz",Keywords
3,1681907339,unknown,"daniel,wellington,nylon,watch,gold",Keywords
6,1681900687,unknown,"daniel,wellington,silver,leather,watch",Keywords
7,1681900689,unknown,"daniel,silver,leather,japanese,quartz",Keywords
8,1681898382,unknown,"classic,daniel,wellington,0206dw,leather,japan...",Keywords
9,1681898384,unknown,"classic,daniel,wellington,leather,japanese,qua...",Keywords
10,1681956160,unknown,"daniel,dapper,wellington,leather,wellington,watch",Keywords
11,1681956161,unknown,"daniel,wellington,dapper,sheffield,watch,leather",Keywords
12,1681956162,unknown,"daniel,wellington,dapper,st,mawes",Keywords
13,1681956163,unknown,"daniel,dapper,sheffield,wellington,leather,wel...",Keywords
14,1681957566,unknown,"daniel,wellington,dapper,bristol,watch,leather",Keywords
19,1681907338,unknown,"daniel,wellington,watch,brown,leather",Keywords

In [99]:
# This is for additional keywords.

test_data4  = test_data[['productid','keywords','additional_keywords']]
test_data4.head(25)

,productid,keywords,additional_keywords
0,1681912532,12h aw1360 fashion brown watch citizen drive e...,
1,1681908939,mk5550 black watch bradshaw kors michael stain...,
2,1681905141,unknown,
3,1681907339,unknown,
4,1681906852,0606502 watch dress leather men museum black g...,
5,1681895148,jr1401 black nate stainless steel watch chrono...,"stainless,steel"
6,1681900687,unknown,
7,1681900689,unknown,
8,1681898382,unknown,
9,1681898384,unknown,
10,1681956160,unknown,
11,1681956161,unknown,
12,1681956162,unknown,
13,1681956163,unknown,
14,1681957566,unknown,
15,1681994930,tw5k88000 timex ironman watch run sport black ...,
16,1682000839,ar1999 watch armani brown dress leather men em...,
17,1681957748,mj3456 watch courtney marc jacobs silver stain...,
18,1681944871,19219 angel watch invicta women gold quartz st...,
19,1681907338,unknown,

In [100]:
test_data4.rename(columns = {'keywords':'data', 'additional_keywords':'recommendation'}, inplace = True)
test_data4.head()

C:\Anaconda\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,productid,data,recommendation
0,1681912532,12h aw1360 fashion brown watch citizen drive e...,
1,1681908939,mk5550 black watch bradshaw kors michael stain...,
2,1681905141,unknown,
3,1681907339,unknown,
4,1681906852,0606502 watch dress leather men museum black g...,

In [101]:
data4 = {'field':['Additional Keywords']}
new_data4 = pd.DataFrame(data4, columns=['field'])
new_field3 = pd.concat([new_data4]*(numb_of_rows))
test_data4['field'] = new_field3['field'].values

<ipython-input-101-9353ed390a5d>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data4['field'] = new_field3['field'].values

In [102]:
test_data4 = test_data4[test_data4['data']!='unknown']

In [103]:
test_data4

,productid,data,recommendation,field
0,1681912532,12h aw1360 fashion brown watch citizen drive e...,,Additional Keywords
1,1681908939,mk5550 black watch bradshaw kors michael stain...,,Additional Keywords
4,1681906852,0606502 watch dress leather men museum black g...,,Additional Keywords
5,1681895148,jr1401 black nate stainless steel watch chrono...,"stainless,steel",Additional Keywords
15,1681994930,tw5k88000 timex ironman watch run sport black ...,,Additional Keywords
16,1682000839,ar1999 watch armani brown dress leather men em...,,Additional Keywords
17,1681957748,mj3456 watch courtney marc jacobs silver stain...,,Additional Keywords
18,1681944871,19219 angel watch invicta women gold quartz st...,,Additional Keywords

In [104]:
test_data5  = test_data[['productid','count_image','image_response']]
test_data5.head(25)

     productid  count_image image_response
0   1681912532            3
1   1681908939            3
2   1681905141            3
3   1681907339            3
4   1681906852            3
5   1681895148            3
6   1681900687            3
7   1681900689            3
8   1681898382            3
9   1681898384            3
10  1681956160            3
11  1681956161            3
12  1681956162            3
13  1681956163            3
14  1681957566            3
15  1681994930            2
16  1682000839            3
17  1681957748            3
18  1681944871            3
19  1681907338            3

In [105]:
test_data5.rename(columns = {'count_image':'data', 'image_response':'recommendation'}, inplace = True)

C:\Anaconda\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [106]:
numb_of_rows = (test_data5.shape[0])

In [107]:
data1 = {'field':['Image Count']}
new_data1 = pd.DataFrame(data1, columns=['field'])
new_field = pd.concat([new_data1]*(numb_of_rows))
test_data5['field'] = new_field['field'].values

<ipython-input-107-01dbaa81dd73>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data5['field'] = new_field['field'].values

In [108]:
test_data5.head()

    productid  data recommendation        field
0  1681912532     3                 Image Count
1  1681908939     3                 Image Count
2  1681905141     3                 Image Count
3  1681907339     3                 Image Count
4  1681906852     3                 Image Count

In [109]:
dataframes = [test_data1,test_data2,test_data3,test_data4,test_data5]

In [110]:
final = pd.concat(dataframes)

In [111]:
final.head()

,productid,data,recommendation,field
0,1681912532,Citizen Men's Eco-Drive AW1360-12H Brown Leath...,,Title
1,1681908939,Michael Kors Men's Bradshaw MK5550 Black Stain...,,Title
2,1681905141,Daniel Wellington Men's Warwick 0205DW Silver ...,,Title
3,1681907339,Daniel Wellington Men's Warwick 0105DW Gold Ny...,,Title
4,1681906852,Movado Men's Museum 0606502 Grey Leather Swiss...,Movado Men's Museum 0606502 Gray Leather Swiss...,Title

In [112]:
final.shape

(80, 4)

In [113]:
final1 = final.sort_values(by = 'productid')
final1.head()

,productid,data,recommendation,field
5,1681895148,Fossil Men's Nate JR1401 Black Stainless-Steel...,,Title
5,1681895148,jr1401 black nate stainless steel watch chrono...,"stainless,steel",Additional Keywords
5,1681895148,<p>This Nate watch by Fossil is a new addition...,<p>This Nate watch by Fossil is a new addition...,Description
5,1681895148,3,,Image Count
8,1681898382,unknown,"classic,daniel,wellington,0206dw,leather,japan...",Keywords

In [172]:
final1.head(55)

,productid,data,recommendation,field
5,1681895148,Fossil Men's Nate JR1401 Black Stainless-Steel...,,Title
5,1681895148,jr1401 black nate stainless steel watch chrono...,"stainless,steel",Additional Keywords
5,1681895148,<p>This Nate watch by Fossil is a new addition...,<p>This Nate watch by Fossil is a new addition...,Description
5,1681895148,3,,Image Count
8,1681898382,unknown,"classic,daniel,wellington,0206dw,leather,japan...",Keywords
8,1681898382,3,,Image Count
8,1681898382,<p>Classic styling and a full range of feature...,<p>Classic styling and a full range of feature...,Description
8,1681898382,Daniel Wellington Men's Classic Sheffield 0206...,,Title
9,1681898384,<p>Classic styling and a full range of feature...,<p>Classic styling and a full range of feature...,Description
9,1681898384,3,,Image Count
9,1681898384,unknown,"classic,daniel,wellington,leather,japanese,qua...",Keywords
9,1681898384,Daniel Wellington Men's Classic St. Andrews 01...,,Title
6,1681900687,unknown,"daniel,wellington,silver,leather,watch",Keywords
6,1681900687,Daniel Wellington Men's Bristol 0209DW Silver ...,,Title
6,1681900687,<p>Daniel Wellington timepieces are definitely...,<p>Daniel Wellington timepieces are definitely...,Description
6,1681900687,3,,Image Count
7,1681900689,unknown,"daniel,silver,leather,japanese,quartz",Keywords
7,1681900689,Daniel Wellington Men's York 0211DW Silver Lea...,,Title
7,1681900689,<p>Characteristic of Daniel Wellingtons signat...,,Description
7,1681900689,3,,Image Count
2,1681905141,unknown,"daniel,wellington,watch,nylon,japanese,quartz",Keywords
2,1681905141,<p>Classic styling and a full range of feature...,<p>Classic styling and a full range of feature...,Description
2,1681905141,3,,Image Count
2,1681905141,Daniel Wellington Men's Warwick 0205DW Silver ...,,Title
4,1681906852,0606502 watch dress leather men museum black g...,,Additional Keywords
4,1681906852,Show off your laid-back personality with this ...,Show off your laid-back personality with this ...,Description
4,1681906852,3,,Image Count
4,1681906852,Movado Men's Museum 0606502 Grey Leather Swiss...,Movado Men's Museum 0606502 Gray Leather Swiss...,Title
19,1681907338,unknown,"daniel,wellington,watch,brown,leather",Keywords
19,1681907338,<p>Daniel Wellington continues its reputation ...,,Description
19,1681907338,3,,Image Count
19,1681907338,Daniel Wellington Women's Classy Bristol 0903D...,,Title
3,1681907339,3,,Image Count
3,1681907339,Daniel Wellington Men's Warwick 0105DW Gold Ny...,,Title
3,1681907339,unknown,"daniel,wellington,nylon,watch,gold",Keywords
3,1681907339,<p>Show off your laid-back personality with th...,,Description
1,1681908939,<p>This practical yet stylish watch by Michael...,<p>This practical yet stylish watch by Michael...,Description
1,1681908939,3,,Image Count
1,1681908939,mk5550 black watch bradshaw kors michael stain...,,Additional Keywords
1,1681908939,Michael Kors Men's Bradshaw MK5550 Black Stain...,,Title
0,1681912532,12h aw1360 fashion brown watch citizen drive e...,,Additional Keywords
0,1681912532,<p>Classic styling and a full range of feature...,<p>Classic styling and a full range of feature...,Description
0,1681912532,3,,Image Count
0,1681912532,Citizen Men's Eco-Drive AW1360-12H Brown Leath...,,Title
18,1681944871,3,,Image Count
18,1681944871,Invicta Women's Angel 19219 Gold Stainless-Ste...,Invicta Women's Angel 19219 Golds Stainless-St...,Title
18,1681944871,19219 angel watch invicta women gold quartz st...,,Additional Keywords
18,1681944871,<p>The Invicta Angel brings style to a classic...,,Description
10,1681956160,Daniel Wellington Men's Dapper St.Mawes 1100DW...,Daniel Wellington Men's Dapper St. Mawes 1100D...,Title
10,1681956160,unknown,"daniel,dapper,wellington,leather,wellington,watch",Keywords
10,1681956160,3,,Image Count
10,1681956160,<p>This Daniel Wellington Dapper St.Mawes watc...,<p>This Daniel Wellington Dapper St. Mawes wat...,Description
11,1681956161,Daniel Wellington Men's Dapper Sheffield 1101D...,,Title
11,1681956161,3,,Image Count
11,1681956161,<p>If youre a man with even the slightest fash...,<p>If you're a man with even the slightest fas...,Description

In [115]:
final2 = final1[final1['recommendation']!='']

In [175]:
final2.head(20)

,productid,data,recommendation,field
5,1681895148,jr1401 black nate stainless steel watch chrono...,"stainless,steel",Additional Keywords
5,1681895148,<p>This Nate watch by Fossil is a new addition...,<p>This Nate watch by Fossil is a new addition...,Description
8,1681898382,unknown,"classic,daniel,wellington,0206dw,leather,japan...",Keywords
8,1681898382,<p>Classic styling and a full range of feature...,<p>Classic styling and a full range of feature...,Description
9,1681898384,<p>Classic styling and a full range of feature...,<p>Classic styling and a full range of feature...,Description
9,1681898384,unknown,"classic,daniel,wellington,leather,japanese,qua...",Keywords
6,1681900687,unknown,"daniel,wellington,silver,leather,watch",Keywords
6,1681900687,<p>Daniel Wellington timepieces are definitely...,<p>Daniel Wellington timepieces are definitely...,Description
7,1681900689,unknown,"daniel,silver,leather,japanese,quartz",Keywords
2,1681905141,unknown,"daniel,wellington,watch,nylon,japanese,quartz",Keywords
2,1681905141,<p>Classic styling and a full range of feature...,<p>Classic styling and a full range of feature...,Description
4,1681906852,Show off your laid-back personality with this ...,Show off your laid-back personality with this ...,Description
4,1681906852,Movado Men's Museum 0606502 Grey Leather Swiss...,Movado Men's Museum 0606502 Gray Leather Swiss...,Title
19,1681907338,unknown,"daniel,wellington,watch,brown,leather",Keywords
3,1681907339,unknown,"daniel,wellington,nylon,watch,gold",Keywords
1,1681908939,<p>This practical yet stylish watch by Michael...,<p>This practical yet stylish watch by Michael...,Description
0,1681912532,<p>Classic styling and a full range of feature...,<p>Classic styling and a full range of feature...,Description
18,1681944871,Invicta Women's Angel 19219 Gold Stainless-Ste...,Invicta Women's Angel 19219 Golds Stainless-St...,Title
10,1681956160,Daniel Wellington Men's Dapper St.Mawes 1100DW...,Daniel Wellington Men's Dapper St. Mawes 1100D...,Title
10,1681956160,unknown,"daniel,dapper,wellington,leather,wellington,watch",Keywords

#create pickle file for product recommendation.
import pickle
with open('product_recommendation','wb') as f:
    pickle.dump(final2,f)

import json
columns = {
    'data_column':[col.lower() for col in final2.columns]
}
with open ("columns.json","w") as f:
    f.write(json.dumps(columns))

#create pickle file for product score.
import pickle
with open('product_scoring','wb') as f1:
    pickle.dump(product_score,f1)

import json
columns1 = {
    'data_column':[col.lower() for col in product_score.columns]
}
with open ("columns1.json","w") as f1:
    f1.write(json.dumps(columns))